* {
  margin: 0;
}

body {
  background-color: rgb(236, 242, 247);
}

button {
  margin-bottom: 5px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px -221px rgba(0, 0, 0, 0.4),
    7px 7px 13px -7px rgba(0, 0, 0, 0.16),
    -2px -2px 0px 0px rgba(0, 0, 0, 0.2) inset;
  font-size: 1rem;
  font-weight: bold;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.calculator {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4),
    0px 7px 13px -3px rgba(0, 0, 0, 0.3), inset 0px -3px 0px rgba(0, 0, 0, 0.2);
}

.numbers {
  height: 60px;
  width: 60px;
}

.symbol {
  height: 60px;
  width: 52px;
  background-color: rgb(216, 216, 216);
  box-shadow: 0px 2px 4px -221px rgba(0, 0, 0, 0.4),
    7px 7px 13px -7px rgba(0, 0, 0, 0.2),
    -2px -2px 0px 0px rgba(0, 0, 0, 0.2) inset;
}

.zero {
  height: 60px;
  width: 124px;
}

.igual {
  height: 60px;
  width: 108px;
  background-color: rgb(216, 216, 216);
  box-shadow: 0px 2px 4px -221px rgba(0, 0, 0, 0.4),
    7px 7px 13px -7px rgba(0, 0, 0, 0.2),
    -2px -2px 0px 0px rgba(0, 0, 0, 0.2) inset;
}

.dot {
  height: 60px;
  width: 60px;
  background-color: rgb(216, 216, 216);
  box-shadow: 0px 2px 4px -221px rgba(0, 0, 0, 0.4),
    7px 7px 13px -7px rgba(0, 0, 0, 0.2),
    -2px -2px 0px 0px rgba(0, 0, 0, 0.2) inset;
}
.screen {
  height: 15%;
  border-radius: 2px;
  background-color: rgb(203, 218, 168);
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 4px 0px inset;
}

.write {
  padding-left: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
